<h3>List of Tables</h3>
<%= flash[:message]%>
<table class="flat-table">
  <tr><th>S.N.</th><th>Table</th><th colspan="3">Action</th></tr>
  <% count = 0%>
  <%@tables.each do |table|%>
    <tr><td><%= count = count + 1%></td><td><%= table %></td><td colspan="3">
      <%=link_to_edit(table) %>
      <%= link_to_structure(table) %>
      <%= link_to_delete(table) %>
    </td></tr>
  <% end%>
</table>
