<p>Server: Localhost -> Database: <%=ActiveRecord::Base.connection_config[:database] %> -> Adapter: <%=ActiveRecord::Base.connection_config[:adapter]%></p>
<table class="flat-table">
  <tr><th>#</th><th>Table</th><th colspan="3">Action</th></tr>
  <% count = 0%>
  <%@tables.each do |table|%>
    <tr><td><%= count = count + 1%></td><td><%= table %></td><td colspan="3"> <%= link_to "Change", '#',class:"icon-edit" %> <%= link_to "Drop", '#',class:"icon-delete" %> <%= link_to "Structure", '#' %></td></tr>
  <% end%>
</table>
