<!DOCTYPE html>
<html>
<head>
  <title>DbOfficer</title>
  <%= stylesheet_link_tag    "db_officer/application", media: "all" %>
  <%= javascript_include_tag "db_officer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--Container-->
<div class='page-wrapper'>
  <!--Header-->
  <div class='header'>Database Administration
  </div>
  <!--End Header-->
  <!--col 1 area areea-->
  <div class='main-container'>
    <div class='col-left'>
      <%=render "db_officer/shared/side_bar"%>
    </div>

    <div class= 'main'>
        <ul class="sub-header">
          <li class="icon-server"> Server: <%= ActiveRecord::Base.connection_config[:host] ||'localhost' %> </li>
          <li class="icon-database">Database: <%=ActiveRecord::Base.connection_config[:database]
          %></li>
          <li class="icon-adapter"> Adapter: <%=ActiveRecord::Base.connection_config[:adapter]%></li>
        </ul>
      <%= yield %>
    </div>
  </div>
  <!--End col1 areea-->
  <!--Footer-->
  <!--End Footer -->
</div>
<!--End container -->
</body>
</html>
