<!DOCTYPE html>
<html>
<head>
  <title>DbOfficer</title>
  <!--<link rel="stylesheet" href="app/assets/stylesheets/db_officer/font-awesome.min.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <%= stylesheet_link_tag    "db_officer/application", media: "all" %>
  <%= javascript_include_tag "db_officer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--Container-->
<div class='page-wrapper'>
  <!--Header-->
  <div class='header'><a href="#">Database Administration</a>
  </div>
  <!--End Header-->
  <!--col 1 area areea-->
  <div class='main-container'>
    <div class='col-left'>
      <%=render "db_officer/shared/side_bar"%>
    </div>

    <div class= 'main'>
        <ul class="sub-header">
          <li> <i class="fa fa-server" aria-hidden="true"></i>
             Server: <%= ActiveRecord::Base.connection_config[:host] ||'localhost' %> </li>
          <li><i class="fa fa-database" aria-hidden="true"></i>
             Database: <%=ActiveRecord::Base.connection_config[:database]
          %></li>
          <li> <i class="fa fa-connectdevelop" aria-hidden="true"></i> Adapter: <%=ActiveRecord::Base.connection_config[:adapter]%></li>
        </ul>
      <%= yield %>
    </div>
  </div>
  <!--End col1 areea-->
  <!--Footer-->
  <!--End Footer -->
</div>
<!--End container -->
</body>
</html>
