
<%= form_tag(tables_path, method: "post") do %>
  <%= label_tag(:table_name, "Table Name:") %>
  <%= text_field_tag(:table_name) %>
  <table>

    <tr>
      <th><%= label_tag(:name, "Name") %></th>
      <th><%= label_tag(:type, "Type")%></th>
      <th>Actions</th>
    </tr>
    <tr>
      <td><%= text_field_tag(:name) %></td>
      <td>
       <%= select_tag(:type, options_for_select([["INT", "int"],["STRING",
      "string"],["TEXT", "text"]])) %>
      </td>
      <td>Add</td>
    </tr>
  </table>
  <%= submit_tag("Save") %>
<% end %>
