<%= form_for @table do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @table.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label(:name, "Table Name:") %>
  <%= f.text_field(:name) %>
<br><br>
  <%= f.fields_for :table_columns do |builder| %>
    <%= render 'field_fields', f: builder %>
  <% end %>

  <%= link_to_add_fields "Add Column", f, :table_columns %>
  <%= f.submit("Save") %>
<% end %>

<!--- if @contact.errors.any?-->
<!--#error_explanation-->
<!--%h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"-->
<!--%ul-->
<!--- @contact.errors.full_messages.each do |msg|-->
<!--%li= msg-->
