<div>
<% if params[:action] == 'edit' || params[:action] == 'update' %>
  <h3>Edit Table</h3>
<% else %>
  <h3>Create Table</h3>
<% end %>
</div>
<% if params[:action] == 'new' || params[:action] == 'create'
     url =  tables_path
     read_only = false
   else
     method = 'patch'
     url = table_path(@table.name)
     read_only = true
   end
%>
<div class="main-holder">
  <%= form_for @table, url: url, method: method do |f| %>
    <% if @table.errors.any? %>
      <div class="message error">

        <ul>
          <% @table.errors.full_messages.each do |message| %>
            <li><i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   <div class="table-name">
    <%= f.text_field :name, placeholder: "Table Name",readonly: read_only  %>
    </div>
    <table class="global-table">
      <tbody>
      <tr><th>Name</th><th>Type</th><th>Action</th></tr>
      <%= f.fields_for :table_columns do |builder| %>
        <%= render 'field_fields', f: builder %>
      <% end %>
      </tbody>
    </table>
    <div class="add-column">
      <%= link_to_add_fields "Add Column", f, :table_columns %>
      <div class="btn-holder">
        <% if params[:action] == 'edit' || params[:action] == 'update' %>
          <%= f.submit "Update", class:"create-button" %>
        <% else %>
          <%= f.submit "Create",class:"create-button" %>
        <% end %>
        <%= f.submit "Cancel",class:"create-button" %>
  <% end %>
      </div>
    </div>


</div>
