<%= form_for @table do |f| %>
  <%= label(:table_name, "Table Name:") %>
  <%= text_field_tag(:table_name) %>
  <table>
    <tr>
      <th><%= label_tag(:column_name, "Name") %></th>
      <th><%= label_tag(:column_type, "Type")%></th>
      <th>Actions</th>
    </tr>
    <tr>
      <td><%= text_field_tag(:column_name) %></td>
      <td>
       <%= select_tag(:column_type, options_for_select(DbOfficer::Table
       .column_types)
           ) %>
      </td>
      <td>Add</td>
    </tr>
  </table>

  <%= fields_for :fields do |builder| %>
    <%= render 'field_fields', f: builder %>
  <% end %>

  <%#= link_to_add_fields "Add Field", f, :table_columns %>
  <%= submit_tag("Save") %>
<% end %>
